{% comment %} --- {% endcomment %}
{% comment %} layout: page {% endcomment %}
{% comment %} title: Pages {% endcomment %}
{% comment %} header: Pages {% endcomment %}
{% comment %} group: navigation {% endcomment %}
{% comment %} --- {% endcomment %}
{% comment %} {% include JB/setup %} {% endcomment %}

{% comment %} <h2>All Pages</h2> {% endcomment %}
{% comment %} <ul> {% endcomment %}
{% comment %} {% assign pages_list = site.pages %} {% endcomment %}
{% comment %} {% include JB/pages_list %} {% endcomment %}
{% comment %} </ul> {% endcomment %}
