<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>

      <div class="nav-collapse">
        <ul class="nav list-inline">
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
        </ul>
        <ul class="nav pull-right social-icons icon-rotate list-inline list-unstyled">
          <li class="divider-vertical"></li>
          {% if site.author.github %}
          <li>
            <a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github"></i></a>
          </li>
          {% endif %}
          {% if site.author.twitter %}
          <li>
            <a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>
          </li>
          {% endif %}
          {% if site.author.facebook %}
          <li>
            <a href="http://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
